n8n_workflows/company_registration_automation.json
{
    "name": "K-Tracker: Company Registration (Automated)",
    "nodes": [
        {
            "id": "webhook-node",
            "name": "Supabase Webhook",
            "parameters": {
                "httpMethod": "POST",
                "options": {},
                "path": "company-created"
            },
            "position": [
                100,
                300
            ],
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1
        },
        {
            "id": "evolution-api-node",
            "name": "Create Evolution Instance",
            "parameters": {
                "specifyBody": "json",
                "jsonBody": "={\n  \"instanceName\": \"{{ 'ktracker_' + $json.body.record.id }}\",\n  \"token\": \"{{ $json.body.record.id }}\",\n  \"qrcode\": false,\n  \"webhook\": {\n    \"enabled\": true,\n    \"events\": [\"MESSAGES_UPSERT\"],\n    \"url\": \"https://pkeyudivtcfbpjntkbyk.supabase.co/functions/v1/whatsapp-webhook\"\n  }\n}",
                "url": "https://kai-pro-evolution-api.3znlkb.easypanel.host/instance/create"
            },
            "position": [
                300,
                300
            ],
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3
        },
        {
            "credentials": {
                "supabaseApi": {
                    "id": "hfdFWH4cW9hNi0iN",
                    "name": "Supabase account"
                }
            },
            "id": "supabase-node",
            "name": "Update Company",
            "parameters": {
                "columns": "evolution_instance_name, evolution_api_key",
                "operation": "update",
                "tableId": "company",
                "updateKey": "id",
                "values": {
                    "evolution_api_key": "={{$json.hash.apikey}}",
                    "evolution_instance_name": "={{$json.instance.instanceName}}"
                }
            },
            "position": [
                500,
                300
            ],
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1
        }
    ],
    "connections": {
        "Create Evolution Instance": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Update Company",
                        "type": "main"
                    }
                ]
            ]
        },
        "Supabase Webhook": {
            "main": [
                [
                    {
                        "index": 0,
                        "node": "Create Evolution Instance",
                        "type": "main"
                    }
                ]
            ]
        }
    }
}